@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #37e780, #4517cf);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.admin-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(28, 5, 231, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 40px;
    width: 400px;
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
}

.admin-form input {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.admin-form button {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: #FF4B2B;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.admin-form button:active {
    transform: scale(0.95);
}

.admin-form .links {
    margin-top: 15px;
}

.admin-form .links a {
    color: #3c97bf;
    text-decoration: none;
    font-size: 14px;
}
.input-box {
  position: relative;
}

.input-box input {
  width: 100%;
  padding: 14px;
 
  border-radius: 80px;
  outline: none;
  font-size: 13px;
}

.input-box label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  font-size: 14px;
  background: #ffffff;
  padding: 0 6px;
  pointer-events: none;
  transition: 0.3s ease;
}

/* Floating effect */
.input-box input:focus + label,
.input-box input:valid + label {
  top: 0;
  color: #e00000;
  font-size: 14px;
}


@keyframes fadeIn {
    0% {opacity: 0; transform: translateY(-20px);}
    100% {opacity: 1; transform: translateY(0);}
}
